{% extends "base.html" %}

{% block content %}
    {% if data.meta.status == "queue" %}

    <div>&nbsp;</div>
    <div class="center-align">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-teal-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Domain in process... this page will reload every 3 seconds.</p>
    </div>
    <script>
        window.setTimeout(function() {
            window.location.reload();
        }, 3000);
    </script>

    {% else %}

    <div class="row">
        <div class="col m9 s12">
            <h1><a href="http://{{ data.domain[:-1] }}">{{ data.domain }}</a></h1>
        </div>
        <div class="col m3 s12">
            <div>&nbsp;</div>
            {% if data.refresh %}
            <div class="right-align">
                <p>
                    Cache since {{ data.meta.created_at }}
                </p>
                <p>
                    <a href="{{  url_for('refresh', domain=data.domain[:-1]) }}" class="waves-effect waves-teal btn">refresh</a>
                </p>
            </div>
            {% endif %}
        </div>
    </div>
    {% set _ips = data.ips %}
    {% include 'table.inc.html' %}
    <h2>Nameservers</h2>
    {% for ns, ns_ips in data.nameservers.items() %}
    <h3>{{ ns }}</h3>

    {% set _ips = ns_ips %}
    {% include 'table.inc.html' %}
    {% endfor %}

    {% endif %}
{% endblock %}
