{% extends "base.html" %}

{% block content %}
    <h1>Who Host Who</h1>
    <p>
        Service to find all host information (IP, ASN, NameServers, etc) about a domain.
        Test with <a href="/d/google.com">google.com</a> !
    </p>
    <p>
        I use the database of the <a href="http://www.team-cymru.com/IP-ASN-mapping.html">Cymru Team</a> via DNS.
        This service is a <a href="https://www.python.org/">Python</a> program with <a href="http://flask.pocoo.org/">Flask</a> as microframework 
        and the DNS resolution is made with <a href="http://www.dnspython.org/">dnspython</a>.
        I use <a href="https://materializecss.com/">Materialize</a> for the design.
    </p>
    <form action="/" method="GET" id="try-it">
        <h3>Try it</h3>
        <div class="row">
            <div class="input-field col m9 s12">
                <input name="d" id="d" type="text" class="validate">
                <label for="d">Domain</label>
            </div>
        </div>
        <button class="waves-effect waves-light btn" type="submit">ok</button>
    </form>
    <h3>JSON response</h3>
    <p>
        You can use a JSON response by adding <code>application/json</code> in the <code>accept</code> header.
    </p>
    <p>
        Example : <code>curl -H 'accept: application/json' http://{{ host }}/d/google.com</code><br>
    </p>
{% endblock %}
{% block js %}
<script>
    M.AutoInit();
</script>
{% endblock %}