{% if _ips|length > 0 %}
<table class="striped responsive-table">
    <thead>
        <tr>
            {% for title in _ips[0].keys() %}
            <th>{{ title.capitalize() }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for ip in _ips %}
        <tr>
            {% for v in ip.values() %}
            {% if v is none%}
            {% set v = "N/A" %}
            {% elif v is sequence and v is not string %}
            {% set v = v|join(" | ") %}
            {% endif %}
            <td>{{ v }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}